.folower {
  display: flex;
  flex-direction: row;
  padding: 30px;
}
.folower__pic {
  width: 100px;
  height: 100px;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 8px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(238, 238, 238);
  border-image: initial;
}
.folower__pic-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.folower__info {
  padding-left: 20px;
  text-align: left;
}
